body {
    margin: 0;
    padding: 0;
}

.contenier {
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: red;
    display: flex;
}

#inputSide {
    height: 100%;
    overflow: auto;
    width: 50%;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.addSide {
    height: 100%;
    width: 50%;
}

#inputs {
    min-height: 150px;
    width: calc(100% - 70px);
    margin: 25px;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

button {
    height: 45px;
    width: 200px;
    background-color: orange;
    border-radius: 22.5px;
    border: 0;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 19px;
    cursor: pointer;
    margin-top: 55px;
}

select {
    height: 35px;
    width: 160px;
}

#popupCont {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(153, 153, 153, 0.5);
    visibility: hidden;
    top: 0;
    left: 0;
}

#popup {
    height: 250px;
    width: 300px;
    background-color: white;
}

#popup input {
    margin: 10px;
}

.elem {
    height: 25px;
    min-width: 80px;
    background-color: white;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
    cursor: grab;
}

span {
    height: 12px;
    width: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: all 250ms ease;
}

span:hover {
    color: red;
}

select {
    margin: 10px;
}